
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Outfit", sans-serif;
}

body {
  background-color: #f6f6f6;
}

/* SIDEBAR */

.sidebar {
  color: white;

  position: fixed;
  top: 0;
  left: 0;

  width: 60px;
  height: 100vh;

  background: #38b26f;

  transition: 0.3s;
  overflow: hidden;

  z-index: 1000;
}

.sidebar:hover {
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 10px;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;

  color: white;
  text-decoration: none;
}

.sidebar i {
  font-size: 20px;
  min-width: 40px;
  text-align: center;

  color: white;
}

.sidebar .text {
  opacity: 0;
  white-space: nowrap;

  transition: 0.3s;
}

.sidebar:hover .text {
  opacity: 1;
}

.titulo {
  padding: 12px;

  opacity: 0;
  transition: 0.3s;
}

.sidebar:hover .titulo {
  opacity: 1;
}

.estantes {
  padding: 12px;

  opacity: 0;
  transition: 0.3s;

  white-space: nowrap;
}

.sidebar:hover .estantes {
  opacity: 1;
}

.selecionado {
  background-color: #82f3b5;

  height: 40px;

  border-radius: 12px;

  display: flex;
  align-items: center;
}

/* CONTEÚDO */
.usuario,
.pesqusfav,
#listaFavoritos {
  margin-left: 90px;
}

/* espaço fixo da sidebar */

body {
  padding-left: 70px;
}
.usuario {
  margin-top: 20px;
}

#listaFavoritos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* USUÁRIO */

.usuario {
  display: flex;
  align-items: center;
  gap: 15px;

  padding: 20px;
}

.usuario img {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  object-fit: cover;
}

/* PESQUISA */

.pesqusfav {
  padding: 20px;
}

.pesqusfav input {
  width: 100%;
  max-width: 500px;

  padding: 14px 20px;

  border: none;
  border-radius: 50px;

  background-color: #e9e9e9;

  font-size: 15px;
}

.pesqusfav input:focus {
  outline: none;
}

/* FAVORITOS */

#listaFavoritos {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

/* CARD */

.livro {
  background: white;

  width: 220px;

  border-radius: 20px;

  padding: 15px;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

  transition: 0.3s;
}

.livro:hover {
  transform: translateY(-5px);
}

.livro img {
  width: 100%;
  height: 300px;

  object-fit: cover;

  border-radius: 12px;
}

.livro h2 {
  margin-top: 12px;

  font-size: 20px;
}

.livro p {
  color: #666;

  margin-top: 5px;
}